<mat-list class="footer">
    <mat-list-item>
        <a href="https://www.facebook.com/XingengWang">
            <mat-icon svgIcon="fb_icon"></mat-icon>
        </a>
    </mat-list-item>
    <mat-list-item>
        <a href="https://www.linkedin.com/in/xingeng-wang-839b34125/">
            <mat-icon svgIcon="li_icon"></mat-icon>
        </a>
    </mat-list-item>
</mat-list>
<div class="weChat">
    <img src="https://firebasestorage.googleapis.com/v0/b/omepage-b1b17.appspot.com/o/WechatIMG30.jpeg?alt=media&token=069eaa25-1e38-4281-bdd9-eac6d3bd429f">
</div>